services:
  postgres:
    image: postgres:13
    container_name: instagram-clone-db
    environment:
      POSTGRES_DB: instagram_clone_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
    container_name: instagram-clone-redis
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - redis
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/instagram_clone_db
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
      BREVO_SMTP_USERNAME: ${BREVO_SMTP_USERNAME}
      BREVO_SMTP_PASSWORD: ${BREVO_SMTP_PASSWORD}
      MAIL_FROM: ${MAIL_FROM}
      FRONTEND_BASE_URL: ${FRONTEND_BASE_URL}
    volumes:
      - uploads_data:/app/uploads
  frontend:
    build: ./frontend
    ports:
      - "4200:80"
    depends_on:
      - backend

volumes:
  postgres_data:
  uploads_data:
  redis_data:
